@font-face {
  font-family: Factoria-Bold;
  src: url("../fonts/Factoria-Bold.otf");
}

@font-face {
  font-family: Factoria-Book;
  src: url("../fonts/Factoria-Book.otf");
}

@font-face {
  font-family: Factoria-Medium;
  src: url("../fonts/Factoria-Medium.otf");
}

@font-face {
  font-family: HanleyRoughScript;
  src: url("../fonts/HanleyRough-Script.otf");
}

@font-face {
  font-family: TrendRoughSansFive;
  src: url("../fonts/TrendRoughSansFive.otf");
}

@font-face {
  font-family: TrendRoughSansOne;
  src: url("../fonts/TrendRoughSansOne.otf");
}

:root {
  font-size: 16px;
  --carousel-quantity: 1;
}

@media (min-width: 992px) and (orientation: portrait) {
  :root {
    font-size: 19px;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #1c1c1e;
}

header {
  padding-top: 3rem;
}

address {
  font-style: normal;
}

img {
  width: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button * {
  pointer-events: none;
}

h1,
h2,
h3,
p {
  color: #d9c7bd;
  font-weight: 400;
  text-align: center;
}

h1 {
  font-family: TrendRoughSansOne, sans-serif;
}

h1,
h2 {
  line-height: 3rem;
  margin: 0;
  padding: 0 0 1rem;
}

.color-tertiary {
  color: #657575;
}

.color-secondary {
  color: #9f554a;
}

.color-secondaryLight {
  color: #d9c7bd;
}

.heading-l {
  font-size: 3.1rem;
}

.heading-m {
  font-size: 2.75rem;
}

@media (min-width: 1200px) {
  .heading-m {
    font-size: 3.1rem;
  }
}

.heading-s {
  font-size: 2.63rem;
}

@media (min-width: 1200px) {
  .heading-s {
    font-size: 3.1rem;
  }
}

.paragraph-l,
.paragraph-xs {
  font-family: Factoria-Medium, sans-serif;
}

.paragraph-m,
.paragraph-s {
  font-family: Factoria-Book, sans-serif;
}

.paragraph-l {
  font-size: 1.88rem;
  color: #9f554a;
  text-transform: capitalize;
}

.paragraph-m {
  font-size: 1.25rem;
}

.paragraph-s {
  font-size: 1.13rem;
}

.paragraph-xs {
  font-size: 1rem;
}

.primary-heading-font {
  font-family: TrendRoughSansOne, sans-serif;
}

.secondary-heading-font {
  font-family: TrendRoughSansFive, sans-serif;
}

.tertiary-heading-font {
  font-family: HanleyRoughScript, sans-serif;
  text-transform: capitalize;
}

.primary-heading-font,
.secondary-heading-font,
h1 {
  text-transform: uppercase;
}

.main-btn {
  display: -ms-grid;
  display: grid;
  place-items: center;
  height: 3.1rem;
  width: 13rem;
  margin: 0 auto 1.2rem;
  font-size: 1.12rem;
  font-family: Factoria-Medium, sans-serif;
  text-transform: capitalize;
  -webkit-transition: color .3s, border-color .3s, background-color .3s;
  transition: color .3s, border-color .3s, background-color .3s;
  border: 2px solid;
  border-radius: 30rem;
  outline: none;
  padding-bottom: .25rem;
}

.main-btn.color-secondary {
  color: #9f554a;
  border-color: #9f554a;
}

.main-btn.color-secondary--light {
  color: #d9c7bd;
  border-color: #d9c7bd;
}

.main-btn.color-tertiary {
  color: #657575;
  border-color: #657575;
}

.main-btn:hover, .main-btn:focus {
  color: #657575;
  border-color: #d9c7bd;
  background-color: #d9c7bd;
}

.burger-btn {
  position: relative;
  height: 2.2rem;
  width: 2.2rem;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
  z-index: 2;
}

.burger-btn .burger-btn--inner, .burger-btn::before, .burger-btn::after {
  content: '';
  position: absolute;
  left: 50%;
  height: 2px;
  width: 70%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #9f554a;
  -webkit-transition: -webkit-transform .2s ease-in;
  transition: -webkit-transform .2s ease-in;
  transition: transform .2s ease-in;
  transition: transform .2s ease-in, -webkit-transform .2s ease-in;
  pointer-events: none;
}

.burger-btn .burger-btn--inner {
  top: 50%;
}

.burger-btn::before {
  top: 25%;
  -webkit-transform-origin: right;
          transform-origin: right;
}

.burger-btn::after {
  top: 75%;
  -webkit-transform-origin: right;
          transform-origin: right;
}

@media (min-width: 512px) {
  .burger-btn {
    height: 1.76rem;
    width: 1.76rem;
  }
}

@media (min-width: 992px) {
  .burger-btn {
    display: none;
  }
}

.carousel {
  position: relative;
  overflow: hidden;
  background: #232325;
}

.carousel .new-items,
.carousel .init-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.carousel .carousel-control-btn {
  position: absolute;
  top: 50%;
  z-index: 1;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  height: 50px;
  width: 50px;
  background-color: rgba(159, 85, 74, 0.5);
  color: #d9c7bd;
  border: none;
  border-radius: 10%;
  font-size: 25px;
  cursor: pointer;
  outline: none;
  -webkit-transition: background-color .3s, border-radius .3s;
  transition: background-color .3s, border-radius .3s;
}

.carousel .carousel-control-btn:hover {
  border-radius: 50%;
}

.carousel .carousel-control-btn:focus {
  background-color: rgba(159, 85, 74, 0.9);
}

.carousel .carousel-control-btn.right {
  right: 0;
}

.carousel .carousel-items {
  position: relative;
  left: calc(-100vw/var(--carousel-quantity));
  -webkit-transition: -webkit-transform .7s;
  transition: -webkit-transform .7s;
  transition: transform .7s;
  transition: transform .7s, -webkit-transform .7s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.carousel .carousel-items.transition-off {
  -webkit-transition: -webkit-transform 0s;
  transition: -webkit-transform 0s;
  transition: transform 0s;
  transition: transform 0s, -webkit-transform 0s;
}

.carousel .carousel-items img {
  display: inline-block;
  height: calc(100vw);
  width: calc(100vw);
}

@media (min-width: 768px) {
  .carousel .carousel-items img {
    height: 50vw;
    width: 50vw;
  }
}

@media (min-width: 1200px) {
  .carousel .carousel-items img {
    height: calc(100vw/3);
    width: calc(100vw/3);
  }
}

@media (min-width: 1920px) {
  .carousel .carousel-items img {
    height: calc(100vw/4);
    width: calc(100vw/4);
  }
}

@media (min-width: 3000px) {
  .carousel .carousel-items img {
    height: calc(100vw/5);
    width: calc(100vw/5);
  }
}

@media (min-width: 768px) {
  :root {
    --carousel-quantity: 2;
  }
}

@media (min-width: 1200px) {
  :root {
    --carousel-quantity: 3;
  }
}

@media (min-width: 1920px) {
  :root {
    --carousel-quantity: 4;
  }
}

@media (min-width: 3000px) {
  :root {
    --carousel-quantity: 5;
  }
}

#main-nav {
  position: fixed;
  z-index: 3;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: .6rem 10vw;
}

@media (min-width: 992px) {
  #main-nav {
    padding: 0 4vw;
  }
}

#main-nav::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: rgba(28, 28, 30, 0.95);
}

@media (min-width: 512px) {
  #main-nav::before {
    background-color: rgba(28, 28, 30, 0.6);
  }
}

@media (min-width: 992px) {
  #main-nav::before {
    background-color: rgba(28, 28, 30, 0.95);
  }
}

#main-nav .main-nav-list {
  position: absolute;
  top: 100%;
  left: 50%;
  z-index: 1;
  -webkit-transform: translate(-50%, -130%);
          transform: translate(-50%, -130%);
  background-color: rgba(159, 85, 74, 0.7);
  width: 80%;
  margin: 0 auto;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}

@media (min-width: 992px) {
  #main-nav .main-nav-list {
    position: relative;
    top: 0;
    left: 0;
    z-index: 2;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    background-color: transparent;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin-right: 0;
  }
}

#main-nav.menu-active::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(28, 28, 30, 0.8);
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
  height: 100vh;
  width: 100vw;
  z-index: 0;
  -webkit-animation: opacity .5s both;
          animation: opacity .5s both;
}

#main-nav.menu-active .main-nav-list {
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  padding: 1rem 0;
}

#main-nav .main-nav-item--inner {
  display: block;
  font-size: 1.5rem;
  font-family: Factoria-Medium, sans-serif;
  color: white;
  text-align: right;
  padding: .4rem 1.5rem;
}

@media (min-width: 512px) {
  #main-nav .main-nav-item--inner {
    padding: .1rem 1.5rem;
    font-size: 1.3rem;
  }
}

@media (min-width: 768px) and (orientation: portrait) {
  #main-nav .main-nav-item--inner {
    padding: .6rem 1.5rem;
    font-size: 1.5rem;
  }
}

@media (min-width: 992px) {
  #main-nav .main-nav-item--inner {
    color: #9f554a;
    padding: .6rem 1rem;
    font-size: 1rem;
    text-align: left;
    line-height: 4.8rem;
  }
}

@media (min-width: 992px) {
  #main-nav .hover-menu .main-nav-hover-options {
    position: absolute;
    top: 100%;
  }
  #main-nav .hover-menu:hover .main-nav-hover-options, #main-nav .hover-menu:focus .main-nav-hover-options {
    display: block;
  }
}

@media (min-width: 992px) {
  #main-nav .main-nav-hover-options {
    background-color: #1c1c1e;
    border-top: 3px solid #9f554a;
    display: none;
  }
}

#main-nav .main-nav-hover-options .main-nav-item--inner {
  padding-right: 3rem;
}

@media (min-width: 992px) {
  #main-nav .main-nav-hover-options .main-nav-item--inner {
    padding: .6rem 10rem .6rem .6rem;
    line-height: 2rem;
  }
}

#main-nav .logo {
  width: 3rem;
  height: 3rem;
  z-index: 2;
}

@media (min-width: 512px) {
  #main-nav .logo {
    width: 2.4rem;
    height: 2.4rem;
  }
}

@media (min-width: 992px) {
  #main-nav .logo {
    width: 4.8rem;
    height: 4.8rem;
  }
}

@-webkit-keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#main-footer {
  padding: 2.5rem;
  background-color: #1c1c1e;
}

@media (min-width: 992px) {
  #main-footer {
    padding-bottom: 1rem;
  }
}

@media (min-width: 1200px) {
  #main-footer {
    padding-top: 5rem;
  }
}

#main-footer a,
#main-footer p {
  color: #9f554a;
  text-align: left;
}

@media (min-width: 992px) {
  #main-footer .info-container {
    width: 80%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #main-footer .info-container > * {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  #main-footer .info-container .opening-info {
    border-left: 1px solid #9f554a;
    padding-left: 4rem;
  }
}

#main-footer .contact-info,
#main-footer .opening-info {
  margin-bottom: 3rem;
}

#main-footer .contact-info > *,
#main-footer .opening-info > * {
  margin-bottom: .8rem;
}

#main-footer .copywright-socials-info {
  text-align: center;
}

#main-footer .copywright-socials-info small {
  display: block;
  text-align: justify;
}

#main-footer .copywright-socials-info small,
#main-footer .copywright-socials-info small > a {
  color: #666;
}

@media (min-width: 992px) {
  #main-footer .copywright-socials-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 80%;
    margin: 0 auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

#main-footer .socials {
  padding-bottom: 1rem;
  font-size: 2rem;
}

#main-footer .socials .github {
  margin-right: 4rem;
}

@media (min-width: 992px) {
  #main-footer .socials {
    padding-bottom: 0;
  }
  #main-footer .socials .github {
    margin-right: 1rem;
  }
}

.form-wrap {
  min-height: 100vh;
  background-color: #1c1c1e;
  padding-top: 6rem;
}

@media (min-width: 768px) and (orientation: portrait) {
  .form-wrap {
    min-height: 75vh;
  }
}

.form-wrap .container {
  width: 80%;
  margin: 0 auto;
}

.form-wrap h1 {
  font-family: TrendRoughSansFive;
  font-size: 2.8rem;
  text-align: left;
}

.form-wrap form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-top: 1rem;
}

.form-wrap form input,
.form-wrap form textarea {
  outline: none;
  font-family: Factoria-Medium;
  background-color: transparent;
  border: 2px solid #657575;
  padding: .9rem;
  color: #677576;
  font-size: 1rem;
}

.form-wrap form input:focus,
.form-wrap form textarea:focus {
  background-color: rgba(28, 28, 30, 0.2);
}

.form-wrap form input {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  margin-bottom: .8rem;
}

.form-wrap form textarea {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  height: 21vh;
  margin-bottom: .7rem;
}

.form-wrap form input[type='submit'] {
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  background-color: #657575;
  margin-left: auto;
  padding: .5rem 1.1rem;
  text-transform: capitalize;
  color: #d9c7bd;
  font-size: 1.1em;
  cursor: pointer;
  -webkit-transition: background-color .4s;
  transition: background-color .4s;
}

.form-wrap form input[type='submit']:focus, .form-wrap form input[type='submit']:hover {
  background-color: rgba(28, 28, 30, 0.2);
}

.form-wrap form input::-webkit-input-placeholder,
.form-wrap form textarea::-webkit-input-placeholder {
  text-transform: capitalize;
  color: #657575;
}

.form-wrap form input:-ms-input-placeholder,
.form-wrap form textarea:-ms-input-placeholder {
  text-transform: capitalize;
  color: #657575;
}

.form-wrap form input::-ms-input-placeholder,
.form-wrap form textarea::-ms-input-placeholder {
  text-transform: capitalize;
  color: #657575;
}

.form-wrap form input::placeholder,
.form-wrap form textarea::placeholder {
  text-transform: capitalize;
  color: #657575;
}

.home-wrap {
  background-color: #232325;
}

.bg-side p,
.img-side-section p {
  padding: 1rem 1rem 2rem;
}

@media (min-width: 512px) {
  .bg-side p,
  .img-side-section p {
    padding: 1rem 0 2rem;
  }
}

.img-side-section--text {
  padding: 2.5rem 1rem;
}

@media (min-width: 992px) and (orientation: portrait) {
  .img-side-section--text {
    height: 45vh;
  }
}

@media (min-width: 512px) {
  .img-side-section--text {
    padding: 2.5rem 15vw;
  }
}

@media (min-width: 992px) {
  .img-side-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 60vh;
  }
  .img-side-section--text {
    height: 100%;
    padding: 2.5rem;
    display: -ms-grid;
    display: grid;
    place-items: center;
  }
  .img-side-section--image {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
  .img-side-section--image img {
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

@media (min-width: 1200px) {
  .img-side-section {
    height: 70vh;
  }
  .img-side-section--image {
    -ms-flex-preferred-size: 56%;
        flex-basis: 56%;
  }
}

@media (min-width: 992px) {
  .img-side-right .img-side-section--text * {
    text-align: right;
  }
  .img-side-right .img-side-section--text .main-btn {
    margin-right: 0;
  }
}

@media (min-width: 1200px) {
  .img-side-right .img-side-section--text {
    padding: 0 5vw 0 10vw;
  }
}

@media (min-width: 992px) {
  .img-side-left .img-side-section--text * {
    text-align: left;
  }
  .img-side-left .img-side-section--text .main-btn {
    margin-left: 0;
  }
}

@media (min-width: 1200px) {
  .img-side-left .img-side-section--text {
    padding: 0 10vw 0 5vw;
  }
}

#main-header {
  background-image: url("../img/img-mobile/cutiepies-pizza-1-xs.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  padding-top: 40vh;
  min-height: 100vh;
}

@media (min-width: 512px) {
  #main-header {
    background-image: url("../img/img-desktop/cutiepies-pizza-1.jpg");
    background-size: cover;
    padding: 0;
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-position-x: -30vw;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding-right: 5vw;
    padding-top: 4rem;
  }
  #main-header h1,
  #main-header p {
    text-align: right;
  }
  #main-header .main-btns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  #main-header .main-btns .main-btn {
    margin: 0 0 2rem 1rem;
  }
}

@media (min-width: 768px) and (orientation: portrait) {
  #main-header {
    background-position-x: -110vw;
    padding-top: 0rem;
  }
}

@media (min-width: 992px) and (orientation: portrait) {
  #main-header {
    background-position-x: -95vw;
  }
}

@media (min-width: 1200px) {
  #main-header {
    background-position-x: left;
  }
}

#menu {
  background-image: url("../img/img-mobile/cutiepies-pizza-2-xs.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  padding-top: 40vh;
  padding-bottom: 2.5rem;
}

@media (min-width: 512px) {
  #menu {
    background-image: url("../img/img-desktop/cutiepies-pizza-2.jpg");
    background-size: cover;
    padding: 0;
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-position-x: 10vw;
    padding-left: 5vw;
  }
  #menu .main-btn {
    margin: 0;
  }
}

@media (min-width: 768px) and (orientation: portrait) {
  #menu {
    background-position-x: -50vw;
  }
}

@media (min-width: 992px) {
  #menu {
    background-position-x: center;
  }
}

@media (min-width: 992px) and (orientation: portrait) {
  #menu {
    background-position-x: 40%;
  }
}

#reservation {
  background-color: #677576;
}

#pizza-break {
  background-image: url(../img/img-desktop/cheese-background.jpg);
  height: 40vh;
}

@media (min-width: 768px) and (orientation: portrait) {
  #pizza-break {
    height: 25vh;
  }
}

@media (min-width: 992px) {
  #pizza-break {
    height: 30vh;
  }
}

#drink-menu {
  background-image: url("../img/img-mobile/cutiepies-drinks-mobile.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  padding-top: 40vh;
  background-size: 470%;
  background-position: center top;
  padding: 2.5rem 0;
  padding-bottom: 45vh;
}

@media (min-width: 512px) {
  #drink-menu {
    background-image: url("../img/img-desktop/cutiepies-drinks.jpg");
    background-size: cover;
    padding: 0;
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-size: 200%;
    background-position: left;
    padding: 2.5rem;
  }
  #drink-menu .bg-side-inner {
    width: 60%;
  }
  #drink-menu h2,
  #drink-menu p {
    text-align: left;
  }
  #drink-menu .main-btn {
    margin: 0;
  }
}

@media (min-width: 768px) and (orientation: portrait) {
  #drink-menu {
    height: 80vh;
  }
}

@media (min-width: 992px) {
  #drink-menu {
    background-size: cover;
    background-position: left;
  }
  #drink-menu .bg-side-inner {
    width: 40%;
  }
}

@media (min-width: 1200px) {
  #drink-menu {
    padding-left: 6vw;
  }
  #drink-menu .bg-side-inner {
    width: 28%;
  }
  #drink-menu h2 {
    font-size: 50px;
  }
}

#happy-hours {
  padding: 2.5rem 1rem;
}

#happy-hours h2 {
  padding-top: 0;
}

#happy-hours .happy-hours-info--days {
  color: #9f554a;
  font-size: 1.3rem;
  font-family: Factoria-Bold;
  margin: 1rem 0;
}

@media (min-width: 992px) {
  #happy-hours .happy-hours-info--days {
    margin-top: 0;
  }
}

@media (min-width: 992px) {
  #happy-hours .happy-hours--inner {
    width: 70%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: 1px solid #677576;
  }
  #happy-hours .happy-hours--inner > * {
    padding: 0 2rem;
    margin: 2rem 0;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  #happy-hours .happy-hours--inner .happy-hours-info {
    border-left: 2px solid #9f554a;
  }
  #happy-hours .happy-hours--inner .happy-hours-info > * {
    text-align: left;
  }
}

#parties .img-side-section--text {
  background-color: #9f554a;
}

@media (min-width: 992px) {
  #parties .img-side-section {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}

#about-us .img-side-section--text {
  background-color: #677576;
}

@media (min-width: 1200px) {
  #about-us .img-side-section--text {
    padding: 0 5vw;
  }
}

#menu-wrap h3,
#menu-wrap p {
  text-align: left;
}

#menu-wrap h3 {
  font-size: 1.38rem;
  font-family: Factoria-Bold;
}

@media (min-width: 992px) and (orientation: portrait) {
  #menu-wrap h3 {
    font-size: 1.13rem;
  }
}

#menu-wrap p {
  font-size: 1.13rem;
  font-family: Factoria-Medium;
}

@media (min-width: 992px) and (orientation: portrait) {
  #menu-wrap p {
    font-size: 1rem;
  }
}

#menu-wrap .custom-pizza-menu--list li,
#menu-wrap .menu-sides-list li {
  color: #d9c7bd;
  font-family: Factoria-Bold;
}

#menu-wrap .custom-pizza-menu--wrapper {
  padding: 0 1.3rem;
}

#menu-wrap .custom-pizza-menu--wrapper .custom-pizza--category {
  font-size: 1.38rem;
  font-weight: 600;
  color: #677576;
  text-transform: capitalize;
  margin-bottom: 1.2rem;
}

@media (min-width: 768px) and (orientation: portrait) {
  #menu-wrap .custom-pizza-menu--wrapper {
    padding: 2.5rem 0 2.5rem 5rem;
  }
}

@media (min-width: 992px) {
  #menu-wrap .custom-pizza-menu--wrapper {
    padding: 3rem 7vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #menu-wrap .custom-pizza-menu--wrapper .custom-pizza-menu--container:not(:last-of-type) {
    border-right: 2px solid #677576;
    margin-right: 2rem;
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
  }
  #menu-wrap .custom-pizza-menu--wrapper .custom-pizza-menu--container:last-of-type {
    -ms-flex-preferred-size: 20%;
        flex-basis: 20%;
  }
}

@media (min-width: 1200px) {
  #menu-wrap .custom-pizza-menu--wrapper .custom-pizza-menu--container:not(:last-of-type) {
    margin-right: 6rem;
  }
}

@media (min-width: 992px) and (orientation: portrait) {
  #menu-wrap .custom-pizza-menu--wrapper {
    padding: 2rem 3vw;
  }
  #menu-wrap .custom-pizza-menu--wrapper .custom-pizza-menu--container:not(:last-of-type) {
    border-right: none;
    margin-right: 1rem;
  }
}

#menu-wrap .custom-pizza-menu--side {
  font-size: 1.38rem;
  font-family: Factoria-Bold;
  text-align: center;
  padding: 1.25rem 2.5rem 2.5rem;
}

#menu-wrap .custom-pizza-menu--list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 1.2rem;
}

#menu-wrap .custom-pizza-menu--list li {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  font-size: 1.13rem;
}

#menu-wrap .custom-pizza-menu--list.premium li {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

#menu-wrap .menu-sides-list li {
  font-size: 1.38rem;
}

#menu-wrap .main-pizza-menu,
#menu-wrap .custom-pizza-menu {
  background-color: #232325;
}

#menu-wrap .main-menu--add-info,
#menu-wrap .main-pizza-menu--vegan-info {
  font-size: 1.13rem;
  font-family: Factoria-Medium;
}

#menu-wrap .custom-pizza-menu--heading {
  font-size: 2.55rem;
}

#menu-wrap .main-menu--side-photo:nth-of-type(odd) {
  background-color: #232325;
}

@media (min-width: 992px) {
  #menu-wrap .main-menu--side-photo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #menu-wrap .main-menu--side-photo:first-of-type {
    padding-top: 3rem;
  }
  #menu-wrap .main-menu--side-photo .main-menu--img-wrap {
    -ms-flex-negative: 0;
        flex-shrink: 0;
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
  }
}

@media (min-width: 1200px) {
  #menu-wrap .main-menu--side-photo .menu-side-photo--list {
    padding-left: 10vw;
  }
}

#menu-wrap .menu-side-photo--list,
#menu-wrap .main-pizza-menu--container {
  padding: 2.5rem 1.25rem;
}

@media (min-width: 768px) and (orientation: portrait) {
  #menu-wrap .menu-side-photo--list,
  #menu-wrap .main-pizza-menu--container {
    padding: 2.5rem 5rem;
  }
}

#menu-wrap .main-pizza-menu--vegan-info {
  padding: 2.5rem 5rem 0;
}

#menu-wrap .main-pizza-menu--container {
  padding-top: 0;
}

@media (min-width: 992px) {
  #menu-wrap .main-pizza-menu--container {
    padding: 3rem 7vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #menu-wrap .main-pizza-menu--container .main-pizza-menu--list {
    -ms-flex-preferred-size: 31%;
        flex-basis: 31%;
  }
}

#menu-wrap .main-item:not(:last-of-type),
#menu-wrap .main-pizza-item:not(:last-of-type) {
  margin-bottom: 10px;
}

#menu-wrap .custom-pizza-menu h2,
#menu-wrap .menu-sides h2 {
  padding: 2rem 0;
  background-color: #677576;
}

#menu-wrap .custom-pizza-menu h2 {
  background-color: #677576;
}

#menu-wrap .custom-pizza-menu--info {
  padding: 2.5rem 1.25rem;
}

#menu-wrap .custom-pizza-menu--info > h3,
#menu-wrap .custom-pizza-menu--info > p {
  text-align: center;
}

#menu-wrap .custom-pizza-menu--info > h3 {
  font-size: 1.65rem;
}

#menu-wrap .menu-sides {
  text-align: center;
  background-color: #1c1c1e;
}

#menu-wrap .menu-sides-list {
  padding: 2.5rem 0;
  border-bottom: 1px solid #677576;
}

#menu-wrap .menu-sides h2 {
  background-color: #9f554a;
}

#menu-wrap .menu-sides .sides-item {
  padding: .7rem 0;
}

#parties-wrap .form-aside-info p {
  margin-bottom: 2rem;
  text-align: left;
}

#parties-wrap .form-aside-info p + p {
  color: #657575;
}

#parties-wrap .form-aside-info .paragraph-l {
  line-height: 2rem;
  text-transform: none;
}
/*# sourceMappingURL=main.css.map */