* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: $primaryLight;
}

header {
    padding-top: $logoSize;
}

address {
    font-style: normal;
}

img {
    width: 100%;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

button * {
    pointer-events: none;
}

h1,
h2,
h3,
p {
    color: $secondaryLight;
    font-weight: 400;
    text-align: center;
}

h1 {
    font-family: TrendRoughSansOne, sans-serif;
}

h1,
h2 {
    line-height: 3rem;
    margin: 0;
    padding: 2rem 0 1rem;
}

.color-tertiary {
    color: $tertiary;
}

.color-secondary {
    color: $secondary;
}

.color-secondaryLight {
    color: $secondaryLight;
}

.heading-l {
    font-size: 3.1rem; //50px
}

.heading-m {
    font-size: 2.75rem; //44px
}

.heading-s {
    font-size: 2.63rem; //42px
}

.paragraph-l,
.paragraph-xs {
    font-family: Factoria-Medium, sans-serif;
}

.paragraph-m,
.paragraph-s {
    font-family: Factoria-Book, sans-serif;
}

.paragraph-l {
    font-size: 1.88rem; //30px
    color: $secondary;
    text-transform: capitalize;
}

.paragraph-m {
    font-size: 1.25rem; //20px
}

.paragraph-s {
    font-size: 1.13rem; //18px
}

.paragraph-xs {
    font-size: 1rem; //16px
}

.primary-heading-font {
    font-family: TrendRoughSansOne, sans-serif;
}

.secondary-heading-font {
    font-family: TrendRoughSansFive, sans-serif;
}

.tertiary-heading-font {
    font-family: HanleyRoughScript, sans-serif;
    text-transform: capitalize;
}

.primary-heading-font,
.secondary-heading-font,
h1 {
    text-transform: uppercase;
}