@mixin breakpoint($breakpoint) {
    @if map-has-key($breakpoints, $breakpoint) {
        @media (min-width: #{ map-get( $breakpoints, $breakpoint ) }) {
            @content;
        }
    }

    @else if type_of($breakpoint)==number and unit($breakpoint)==px or unit($breakpoint)==em or unit($breakpoint)==rem {
        @media (min-width: $breakpoint) {
            @content;
        }
    }

    @else {
        @warn "Nie można pobrać żadnej wartości z `#{$breakpoint}`. Nie jest zdefiniowany w mapie `$breakpoints` lub jest nieprawidłową liczbą px, em, lub rem.";
    }
}

@mixin buttonColor($color) {
    color: $color;
    border-color: $color;
}

@mixin pseudoStart {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
}

@mixin bgSideStarter($img) {
    background-image: url($img);
    background-size: contain;
    background-repeat: no-repeat;
    padding-top: 50vh;
}