@mixin breakpoint($breakpoint) {
    @if map-has-key($breakpoints, $breakpoint) {
        @media (min-width: #{ map-get( $breakpoints, $breakpoint ) }) {
            @content;
        }
    }

    @else if type_of($breakpoint)==number and unit($breakpoint)==px or unit($breakpoint)==em or unit($breakpoint)==rem {
        @media (min-width: $breakpoint) {
            @content;
        }
    }
}

@mixin breakpointLandscape($breakpoint) {
    @if map-has-key($breakpoints, $breakpoint) {
        @media (min-width: #{ map-get( $breakpoints, $breakpoint ) }) and (orientation: landscape) {
            @content;
        }
    }

    @else if type_of($breakpoint)==number and unit($breakpoint)==px or unit($breakpoint)==em or unit($breakpoint)==rem {
        @media (min-width: $breakpoint) and (orientation: landscape) {
            @content;
        }
    }
}

@mixin breakpointPortrait($breakpoint) {
    @if map-has-key($breakpoints, $breakpoint) {
        @media (min-width: #{ map-get( $breakpoints, $breakpoint ) }) and (orientation: portrait) {
            @content;
        }
    }

    @else if type_of($breakpoint)==number and unit($breakpoint)==px or unit($breakpoint)==em or unit($breakpoint)==rem {
        @media (min-width: $breakpoint) and (orientation: portrait) {
            @content;
        }
    }
}

@mixin buttonColor($color) {
    color: $color;
    border-color: $color;
}

@mixin pseudoStart {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
}

@mixin bgSideMobile($img) {
    background-image: url($img);
    background-size: contain;
    background-repeat: no-repeat;
    padding-top: 50vh;
}

@mixin bgSideDesktop($img) {
    background-image: url($img);
    background-size: cover;
    padding-top: $logoSize;
    min-height: 100vh;
    display: flex;
    align-items: center;
}