@mixin buttonColor($color) {
    color: $color;
    border-color: $color;
}

@mixin pseudoStart {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
}

@mixin bgSideMobile($img) {
    background-image: url($img);
    background-size: contain;
    background-repeat: no-repeat;
    padding-top: 40vh;
}

@mixin bgSideDesktop($img) {
    background-image: url($img);
    background-size: cover;
    padding: 0;
    min-height: 100vh;
    display: flex;
    align-items: center;
}