:root {
    font-size: 16px;
    --carousel-quantity: 1;
}

$primary:#1c1c1e;
$primaryLight: #232325;

$secondary: #9f554a;
$secondaryLight: #d9c7bd;

$tertiary:#657575;
$tertiaryLight: #677576;

$carouselBtnSize: 50px;
$burgerBtnSize: 2.2rem;
$logoSize: 3rem;

$mainPadding: 2.5rem;