:root {
    font-size: 16px;
    --carousel-quantity: 1;
    --logo-size: 2.4rem;

    @include breakpoint(xs) {
        --logo-size: 2rem;
    }

    @include breakpoint(md) {
        --logo-size: 5rem;
    }

    @include breakpointPortrait(md) {
        font-size: 19px;
        --logo-size: 3rem;
    }
}

$primary:#1c1c1e;
$primaryLight: #232325;

$secondary: #9f554a;
$secondaryLight: #d9c7bd;

$tertiary:#657575;
$tertiaryLight: #677576;

$carouselBtnSize: 50px;

$mainPadding: 2.5rem;