.home-wrap {
    background-color: $primaryLight;
}

.bg-side,
.img-side-section {
    p {
        padding: 1rem 1rem 2rem;
    }

    @include breakpoint(xs) {
        p {
            padding: 1rem 0 2rem;
        }
    }
}

#main-header {
    @include bgSideMobile('../img/img-mobile/cutiepies-pizza-1-xs.jpg');
    min-height: 100vh;

    @include breakpoint(xs) {
        @include bgSideDesktop('../img/img-desktop/cutiepies-pizza-1.jpg');
        background-position-x: -30vw;
        justify-content: flex-end;
        padding-right: 5vw;
        padding-top: $logoSize + 1;

        h1,
        p {
            text-align: right;
        }

        .main-btns {
            display: flex;
            justify-content: flex-end;

            .main-btn {
                margin: 0 0 2rem 1rem;
            }
        }
    }

    @include breakpointPortrait(sm) {
        background-position-x: -110vw;
        padding-top: 0rem;
    }
}

#menu {
    @include bgSideMobile('../img/img-mobile/cutiepies-pizza-2-xs.jpg');
    padding-bottom: $mainPadding;

    @include breakpoint(xs) {
        @include bgSideDesktop('../img/img-desktop/cutiepies-pizza-2.jpg');
        background-position-x: 10vw;
        padding-left: 5vw;

        .main-btn {
            margin: 0;
        }
    }

    @include breakpointPortrait(sm) {
        background-position-x: -50vw;
    }
}

#reservation {
    background-color: $tertiaryLight;

    .img-side-section--text {
        padding: $mainPadding 0;

        @include breakpoint(xs) {
            padding: $mainPadding 18vw;
        }
    }
}

#pizza-break {
    background-image: url(../img/img-desktop/cheese-background.jpg);
    height: 40vh;

    @include breakpointPortrait(sm) {
        height: 25vh;
    }
}

#drink-menu {
    @include bgSideMobile('../img/img-mobile/cutiepies-drinks-mobile.jpg');
    background-size: 470%;
    background-position: center top;
    padding: $mainPadding 0;
    padding-bottom: 45vh;

    @include breakpoint(xs) {
        @include bgSideDesktop('../img/img-desktop/cutiepies-drinks.jpg');
        background-size: 200%;
        background-position: left;
        padding: $mainPadding;
        padding-right: 40vw;

        h2,
        p {
            text-align: left;
        }

        .main-btn {
            margin: 0;
        }
    }

    @include breakpointPortrait(sm) {
        min-height: 80vh;
    }
}

#happy-hours {
    padding: $mainPadding 1rem;

    h2 {
        padding-top: 0;
    }

    .happy-hours-info--days {
        color: $secondary;
        font-size: 1.3rem;
        font-family: Factoria-Bold;
        margin: 1rem 0;
    }
}

#parties {
    .img-side-section--text {
        padding: $mainPadding 0;
        background-color: $secondary;

        @include breakpoint(xs) {
            padding: $mainPadding 18vw;
        }
    }
}

#about-us {
    .img-side-section--text {
        padding: $mainPadding 1rem;
        background-color: $tertiaryLight;

        @include breakpoint(xs) {
            padding: $mainPadding 14vw;
        }
    }
}