.home-wrap {
    background-color: $primaryLight;
}

.bg-side,
.img-side-section {
    p {
        padding: 1rem 1rem 2rem;
    }

    @include breakpoint(xs) {
        p {
            padding: 1rem 0 2rem;
        }
    }
}

.img-side-section {
    &--text {
        padding: $mainPadding 1rem;

        @include breakpointPortrait(md) {
            height: 45vh;
        }
    }

    @include breakpoint(xs) {
        &--text {
            padding: $mainPadding 15vw;
        }
    }

    @include breakpoint(md) {
        display: flex;
        height: 60vh;

        &--text {
            height: 100%;
            padding: $mainPadding;
            display: grid;
            place-items: center;
        }

        &--image {
            flex-basis: 50%;
            flex-shrink: 0;

            img {
                height: 100%;
                object-fit: cover;
            }
        }
    }

    @include breakpoint(lg) {
        height: 70vh;

        &--image {
            flex-basis: 56%;
        }
    }
}

.img-side-right {
    .img-side-section {
        @include breakpoint(md) {
            &--text {
                & * {
                    text-align: right;
                }

                .main-btn {
                    margin-right: 0;
                }
            }
        }

        @include breakpoint(lg) {
            &--text {
                padding: 0 5vw 0 10vw;
            }
        }
    }
}

.img-side-left {
    .img-side-section {
        @include breakpoint(md) {
            &--text {
                & * {
                    text-align: left;
                }

                .main-btn {
                    margin-left: 0;
                }
            }
        }

        @include breakpoint(lg) {
            &--text {
                padding: 0 10vw 0 5vw;
            }
        }
    }
}

#main-header {
    @include bgSideMobile('../img/img-mobile/cutiepies-pizza-1-xs.jpg');
    min-height: 100vh;

    @include breakpoint(xs) {
        @include bgSideDesktop('../img/img-desktop/cutiepies-pizza-1.jpg');
        background-position-x: -30vw;
        justify-content: flex-end;
        padding-right: 5vw;
        padding-top: $logoSize + 1;

        h1,
        p {
            text-align: right;
        }

        .main-btns {
            display: flex;
            justify-content: flex-end;

            .main-btn {
                margin: 0 0 2rem 1rem;
            }
        }
    }

    @include breakpointPortrait(sm) {
        background-position-x: -110vw;
        padding-top: 0rem;
    }

    @include breakpointPortrait(md) {
        background-position-x: -95vw;
    }

    @include breakpoint(lg) {
        background-position-x: right;
    }
}

#menu {
    @include bgSideMobile('../img/img-mobile/cutiepies-pizza-2-xs.jpg');
    padding-bottom: $mainPadding;

    @include breakpoint(xs) {
        @include bgSideDesktop('../img/img-desktop/cutiepies-pizza-2.jpg');
        background-position-x: 10vw;
        padding-left: 5vw;

        .main-btn {
            margin: 0;
        }
    }

    @include breakpointPortrait(sm) {
        background-position-x: -50vw;
    }

    @include breakpoint(md) {
        background-position-x: center;
    }

    @include breakpointPortrait(md) {
        background-position-x: 40%;
    }
}

#reservation {
    background-color: $tertiaryLight;
}

#pizza-break {
    background-image: url(../img/img-desktop/cheese-background.jpg);
    height: 40vh;

    @include breakpointPortrait(sm) {
        height: 25vh;
    }

    @include breakpoint(md) {
        height: 30vh;
    }
}

#drink-menu {
    @include bgSideMobile('../img/img-mobile/cutiepies-drinks-mobile.jpg');
    background-size: 470%;
    background-position: center top;
    padding: $mainPadding 0;
    padding-bottom: 45vh;

    @include breakpoint(xs) {
        @include bgSideDesktop('../img/img-desktop/cutiepies-drinks.jpg');
        background-size: 200%;
        background-position: left;
        padding: $mainPadding;

        .bg-side-inner {
            width: 60%;
        }

        h2,
        p {
            text-align: left;
        }

        .main-btn {
            margin: 0;
        }
    }

    @include breakpointPortrait(sm) {
        height: 80vh;
    }

    @include breakpoint(md) {
        background-size: cover;
        background-position: left;

        .bg-side-inner {
            width: 40%;
        }
    }

    @include breakpoint(lg) {
        padding-left: 6vw;

        .bg-side-inner {
            width: 28%;
        }

        h2 {
            font-size: 50px;
        }
    }
}

#happy-hours {
    padding: $mainPadding 1rem;

    h2 {
        padding-top: 0;
    }

    .happy-hours-info--days {
        color: $secondary;
        font-size: 1.3rem;
        font-family: Factoria-Bold;
        margin: 1rem 0;

        @include breakpoint(md) {
            margin-top: 0;
        }
    }

    @include breakpoint(md) {
        .happy-hours--inner {
            width: 70%;
            margin: 0 auto;
            display: flex;
            justify-content: space-around;
            align-items: center;
            border: 1px solid $tertiaryLight;

            &>* {
                padding: 0 2rem;
                margin: 2rem 0;
                flex-basis: 50%;
            }

            .happy-hours-info {
                border-left: 2px solid $secondary;

                &>* {
                    text-align: left;
                }
            }
        }
    }
}

#parties {
    .img-side-section {
        &--text {
            background-color: $secondary;
        }

        @include breakpoint(md) {
            flex-direction: row-reverse;
        }
    }
}

#about-us {
    .img-side-section {
        &--text {
            background-color: $tertiaryLight;


            @include breakpoint(lg) {
                padding: 0 5vw;
            }
        }
    }
}