#menu-wrap {

    h3,
    p {
        text-align: left;
    }

    h3 {
        font-size: 1.38rem;
        font-family: Factoria-Bold;

        @include breakpointPortrait(md) {
            font-size: 1.13rem;
        }
    }

    p {
        font-size: 1.13rem;
        font-family: Factoria-Medium;

        @include breakpointPortrait(md) {
            font-size: 1rem;
        }
    }

    .custom-pizza-menu--list,
    .menu-sides-list {
        li {
            color: $secondaryLight;
            font-family: Factoria-Bold;
        }
    }


    .custom-pizza-menu--wrapper {
        padding: 0 1.3rem;

        .custom-pizza--category {
            font-size: 1.38rem;
            font-weight: 600;
            color: $tertiaryLight;
            text-transform: capitalize;
            margin-bottom: 1.2rem;
        }

        @include breakpointPortrait(sm) {
            padding: $mainPadding 0 $mainPadding($mainPadding*2);
        }

        @include breakpoint(md) {
            padding: 3rem 7vw;
            display: flex;
            justify-content: space-between;

            .custom-pizza-menu--container {
                &:not(:last-of-type) {
                    border-right: 2px solid $tertiaryLight;
                    margin-right: 2rem;
                    flex-basis: 40%;
                }

                &:last-of-type {
                    flex-basis: 20%;
                }
            }
        }

        @include breakpoint(lg) {
            .custom-pizza-menu--container {
                &:not(:last-of-type) {
                    margin-right: 6rem;
                }
            }
        }

        @include breakpointPortrait(md) {
            padding: 2rem 3vw;

            .custom-pizza-menu--container {
                &:not(:last-of-type) {
                    border-right: none;
                    margin-right: 1rem;
                }
            }
        }
    }

    .custom-pizza-menu--side {
        font-size: 1.38rem;
        font-family: Factoria-Bold;
        text-align: center;
        padding: ($mainPadding/2) $mainPadding $mainPadding;
    }

    .custom-pizza-menu--list {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 1.2rem;


        li {
            flex-basis: 50%;
            font-size: 1.13rem;
        }

        &.premium {
            li {
                flex-basis: 100%;
            }
        }
    }

    .menu-sides-list {
        li {
            font-size: 1.38rem;
        }
    }

    .main-pizza-menu,
    .custom-pizza-menu {
        background-color: $primaryLight;
    }

    .main-menu--add-info,
    .main-pizza-menu--vegan-info {
        font-size: 1.13rem;
        font-family: Factoria-Medium;
    }

    .custom-pizza-menu--heading {
        font-size: 2.55rem; //42px
    }

    .main-menu--side-photo {
        &:nth-of-type(odd) {
            background-color: $primaryLight;
        }

        @include breakpoint(md) {
            display: flex;
            align-items: center;

            &:first-of-type {
                padding-top: var(--logo-size);
            }

            .main-menu--img-wrap {
                flex-shrink: 0;
                flex-basis: 40%;
            }
        }

        @include breakpoint(lg) {
            .menu-side-photo--list {
                padding-left: 10vw;
            }
        }
    }

    .menu-side-photo--list,
    .main-pizza-menu--container {
        padding: $mainPadding ($mainPadding/2);

        @include breakpointPortrait(sm) {
            padding: $mainPadding ($mainPadding*2);
        }
    }

    .main-pizza-menu--vegan-info {
        padding: $mainPadding ($mainPadding*2) 0;
    }

    .main-pizza-menu--container {
        padding-top: 0;

        @include breakpoint(md) {
            padding: 3rem 7vw;
            display: flex;
            justify-content: space-between;

            .main-pizza-menu--list {
                flex-basis: 31%;
            }
        }
    }

    .main-item:not(:last-of-type),
    .main-pizza-item:not(:last-of-type) {
        margin-bottom: 10px;
    }

    .custom-pizza-menu,
    .menu-sides {
        h2 {
            padding: ($mainPadding * .8) 0;
            background-color: $tertiaryLight;
        }
    }

    .custom-pizza-menu {
        h2 {
            background-color: $tertiaryLight;
        }

        &--info {
            padding: $mainPadding ($mainPadding/2);

            &>h3,
            &>p {
                text-align: center;
            }

            &>h3 {
                font-size: 1.65rem;
            }
        }
    }

    .menu-sides {
        text-align: center;
        background-color: $primary;

        &-list {
            padding: $mainPadding 0;
            border-bottom: 1px solid $tertiaryLight;
        }

        h2 {
            background-color: $secondary;
        }

        .sides-item {
            padding: .7rem 0;
        }
    }
}