#main-footer {
    padding: $mainPadding;
    background-color: $primary;

    @include breakpoint(md) {
        padding-bottom: 1rem;
    }

    @include breakpoint(lg) {
        padding-top: $mainPadding * 2;
    }

    a,
    p {
        color: $secondary;
        text-align: left;
    }

    a,
    .original-page {
        transition: color .4s;

        &:hover,
        &:focus {
            color: $secondaryLight;
        }
    }

    .info-container {
        @include breakpoint(md) {
            width: 80%;
            margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content: space-between;

            &>* {
                flex-grow: 1;
            }

            .opening-info {
                border-left: 1px solid $secondary;
                padding-left: 4rem;
            }
        }
    }

    .contact-info,
    .opening-info {
        margin-bottom: 3rem;

        &>* {
            margin-bottom: .8rem;
        }
    }

    .copywright-socials-info {
        text-align: center;

        small {
            display: block;
            text-align: justify;
        }

        small,
        small>a {
            color: #666;
        }

        @include breakpoint(md) {
            display: flex;
            width: 80%;
            margin: 0 auto;
            flex-direction: row-reverse;
            justify-content: space-between;
            align-items: center;
        }
    }

    .socials {
        padding-bottom: 1rem;
        font-size: 2rem;
        transition: color .3s;


        .github {
            margin-right: 4rem;
        }

        @include breakpoint(md) {
            padding-bottom: 0;

            .github {
                margin-right: 1rem;
            }
        }
    }
}