#main-nav {
    position: fixed;
    z-index: 3;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .6rem 10vw;

    &::before {
        @include pseudoStart;
        z-index: 2;
        width: 100%;
        height: 100%;
        background-color: rgba($primary, .95);

        @include breakpoint(xs) {
            background-color: rgba($primary, .6);
        }
    }

    .main-nav-list {
        position: absolute;
        top: 100%;
        left: 50%;
        z-index: 1;
        transform: translate(-50%, -130%);
        background-color: rgba($secondary, .7);
        width: 80%;
        margin: 0 auto;
        transition: transform .5s;
    }

    &.menu-active {
        &::after {
            @include pseudoStart;
            background-color: rgba($primary, .8);
            backdrop-filter: blur(6px);
            height: 100vh;
            width: 100vw;
            z-index: 0;
            animation: opacity .5s both;
        }

        .main-nav-list {
            transform: translate(-50%, 0);
            padding: 1rem 0;
        }
    }

    .main-nav-item--inner {
        display: block;
        font-size: 1.5rem;
        font-family: Factoria-Medium, sans-serif;
        color: white;
        text-align: right;
        padding: .4rem 1.5rem;

        @include breakpoint(xs) {
            padding: .1rem 1.5rem;
            font-size: 1.3rem;
        }

        @include breakpointPortrait(sm) {
            padding: .6rem 1.5rem;
            font-size: 1.5rem;
        }
    }

    .main-nav-hover-options {
        .main-nav-item--inner {
            padding-right: 3rem;
        }
    }

    .logo {
        width: $logoSize;
        height: $logoSize;
        z-index: 2;

        @include breakpoint(xs) {
            width: $logoSize * .8;
            height: $logoSize * .8;
        }

        @include breakpointPortrait(sm) {
            width: $logoSize;
            height: $logoSize;
        }
    }


}

@keyframes opacity {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}